

.footer{
    position: absolute;
    background-color: rgb(40, 37, 37);
    color: white;
    height: 100px;
    display: flex;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
}

.text{
    display: flex;
    align-items: center;
    margin: auto;
}